<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" class="mat-form">

  <mat-form-field appearance="outline" class="form-field" disabled>
    <mat-label>ID</mat-label>
    <input matInput type="number" formControlName="id" [appHighlightOnFocus]="'yellow'" matTooltip ="enter id" />
  </mat-form-field>

  <mat-form-field appearance="outline"  class="form-field">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" [appHighlightOnFocus]="'yellow'" matTooltip ="enter title"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Genre</mat-label>
    <input matInput type="text" formControlName="genre" [appHighlightOnFocus]="'yellow'" matTooltip ="enter genre"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Year Released</mat-label>
    <input matInput type="number" formControlName="yearReleased" [appHighlightOnFocus]="'yellow'" matTooltip="enter year release"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Production Company</mat-label>
    <input matInput type="text" formControlName="productionCompany" [appHighlightOnFocus]="'yellow'" matTooltip="enter production company"/>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>

</form>
