<form [formGroup]="gameForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" id="id" formControlName="id" [appHighlightOnFocus]="'yellow'" />
  </div>


  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" formControlName="title" [appHighlightOnFocus]="'yellow'"  />
  </div>


  <div class="form-group">
    <label for="genre">Genre</label>
    <input type="text" id="genre" formControlName="genre"[appHighlightOnFocus]="'yellow'"  />
  </div>


  <div class="form-group">
    <label for="yearReleased">Year Released</label>
    <input type="number" id="yearReleased" formControlName="yearReleased" [appHighlightOnFocus]="'yellow'" />
  </div>


  <div class="form-group">
    <label for="productionCompany">Production Company</label>
    <input type="text" id="productionCompany" formControlName="productionCompany"[appHighlightOnFocus]="'yellow'"  />
  </div>


  <button type="submit">Submit</button>
</form>

